.discord-messages {
  border-radius: 18px;
}

:root,
.dark {
  --vp-c-brand: #0ea5e9;
  --vp-c-brand-light: #38bdf8;
  --vp-c-brand-lighter: #7dd3fc;
  --vp-c-brand-dark: #0284c7;
  --vp-c-brand-darker: #0369a1;
  --vp-font-family-mono: 'Fira Code', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
  scroll-behavior: smooth;
  --scrollbar-border-radius: 4px;
  --search-accent-color: var(--c-brand);
}

.DocSearch-Button-Key,
.DocSearch-Button .DocSearch-Button-Key {
  display: flex;
}
