@use 'css-reset';
@use 'sass:color';

.relative {
	position: relative;
}

html {
	--mdc-theme-primary: #4ca0e9;
	--mdc-theme-on-primary: #003351;
	--mdc-theme-primary-container: #90ccff;
	--mdc-theme-on-primary-container: #cbe6ff;
	--mdc-theme-secondary: #b8c9da;
	--mdc-theme-on-secondary: #23323f;
	--mdc-theme-secondary-container: #b8c9da;
	--mdc-theme-on-secondary-container: #d4e4f6;
	--mdc-theme-tertiary: #d1bfe7;
	--mdc-theme-on-tertiary: #372a4a;
	--mdc-theme-tertiary-container: #d1bfe7;
	--mdc-theme-on-tertiary-container: #eedcff;
	--mdc-theme-error: #ffb4a9;
	--mdc-theme-on-error: #680003;
	--mdc-theme-error-container: #ffb4a9;
	--mdc-theme-on-error-container: #ffdad4;
	--mdc-theme-background: #1a1c1e;
	--mdc-theme-on-background: #e2e2e5;
	--mdc-theme-text-primary-on-background: var(var(--mdc-theme-on-background));
	--mdc-theme-surface: #1a1c1e;
	--mdc-theme-on-surface: #e2e2e5;
	--mdc-theme-outline: #8c9198;
	--mdc-theme-surface-variant: #41474d;
	--mdc-theme-on-surface-variant: #c2c7ce;
	--mdc-theme-inverse-surface: #e2e2e5;
	--mdc-theme-inverse-on-surface: #1a1c1e;
	background-color: var(--mdc-theme-background);
	color: var(--mdc-theme-on-background);
	font-family: Roboto, sans-serif;
}
a {
	&:visited {
		color: var(--mdc-theme-primary);
	}
}
