@use 'sass:color' as color;
@import 'https://unpkg.com/@discord-message-components/core/dist/styles/discord-messages.css';
@import 'https://unpkg.com/@discord-message-components/core/dist/styles/discord-message.css';
@import 'https://unpkg.com/@discord-message-components/core/dist/styles/discord-author-info.css';

$c-brand: #02b3f6;

:root {
  scroll-behavior: smooth;
  --scrollbar-border-radius: 4px;
}

.discord-messages {
  border-radius: 18px;
}

::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--c-brand);
  border-radius: var(--scrollbar-border-radius);
  &:hover {
    background-color: var(--c-brand-light);
  }
}
::-webkit-scrollbar-track {
  background-color: var(--c-border);
}
html.dark {
  // brand colors
  --c-brand: #02b3f6;
  --c-brand-light: #038ec0;
}
:root {
  --c-brand: #02b3f6;
  --c-brand-light: #3ac4f7;
}
