export const config = {
  token: 'your discord token',
  clientID: 'your bot client id',
  prefixes: ['an array of prefixes'],
  secrets: {
    topgg: 'obtanable from top.gg',
    topggToken: 'obtanable from top.gg',
  },
  apiKeys: {
    oxford: {
      appId: 'oxford dictionary api app id',
      appKey: 'oxford dictionary api app key',
    },
    mw: {
      apiKey: 'marriam webster api key',
    },
    dbl: {
      auth: 'discord bot list auth token',
    },
  },
  actServers: ['servers which the `act` command should work on'],
  firebase: {
    how: 'read instructions in docs (https://sniper.pages.dev/developers/self-hosting.html)',
  },
} as const;

export default config;
