src/
out/
lib/firebase-credentials.json
lib/slappey.json
lib/slappey-prod.json
lib/github-credentials.json
firebase-credentials.json
slappey.json
slappey-prod.json
github-credentials.json
config.json
config-prod.json
lib/config.json
lib/config-prod.json